.help {
    width: 100%;
    height: auto;

    .center {
        width: 1400px;
        height: auto;
        margin: 0 auto;

        //marqueeWrap
        .marqueeWrap {
            width: 1155px;
            height: 45px;
            margin: 20px auto;

            .marquee {
                width: 100%;
                height: 100%;
                background: $marquee_BG;
                border: solid 1px $marquee_Border;
                border-radius: 30px;
                box-shadow: 0 2px 5px 0 $marquee_Shadow inset;
                display: flex;
                align-items: center;

                .title {
                    width: 160px;
                    height: 35px;
                    background: $marquee_Linear;
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    margin-left: 5px;

                    p {
                        color: $marquee_Linear_Word;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                .textBox {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    
                    p {
                        color: $marquee_Word;
                        font-size: 20px;
                        font-weight: bold;
                        white-space: nowrap;
                        padding-left: 100%;
                        animation: marquee 5s linear 0s infinite;
                    }
                }

                @keyframes marquee {
                    0% {
                        transform: translateX(0%);
                    }

                    100% {
                        transform: translateX(-100%);
                    }
                }
            }
        }

        //innerMainWrap
        .helpMainWrap {
            width: 100%;
            height: auto;
            @include innerPageWrapBG;
            padding: 70px 24px 24px;
            margin-bottom: 42px;
            display: flex;

            //leftSide
            .leftSide {
                width: 280px;
                height: auto;
                padding-bottom: 85px;
                display: flex;
                flex-shrink: 0;

                .line_long {
                    width: 5px;
                    height: auto;
                    min-height: 600px;
                    background: $line;
                    border-radius: 10px;
                    position: relative;

                    div {
                        width: auto;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-53%);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;

                        &:first-child {
                            height: 35px;
                            top: -45px;
                        }

                        &:last-child {
                            height: 75px;
                            bottom: -85px;
                        }

                        .line_short {
                            width: 5px;
                            height: 9px;
                            background: $line;
                            border-radius: 10px;
                        }

                        .star_ic {
                            width: 19px;
                            height: 19px;
                        }
                    }
                }

                .btnBox {
                    width: auto;
                    height: auto;

                    li {
                        width: 205px;
                        height: 45px;
                        @include helpLeftList;
                        margin-bottom: 12px;

                        &:hover,&:active,&.active {
                            width: 235px;
                        }

                        i {
                            width: 17px;
                            height: 17px;
                            margin-right: 10px;
                        }
                    }

                    .innerBox {
                        width: 208px;
                        height: auto;
                        margin-left: 10px;
                        display: none;

                        &.display {
                            display: block;
                        }

                        &.new {
                            width: 262px;

                            button {
                                font-size: 14px;
                            }
                        }

                        button {
                            width: 100%;
                            height: 40px;
                            @include helpLeftList_innerBtn;
                            margin-bottom: 5px;

                            &:last-child {
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
            }

            //rightSide
            .rightSide {
                width: 100%;
                height: auto;
                margin-top: -10px;
                display: none;

                &.display {
                    display: block;
                }

                .title {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    &:first-child {
                        
                        p {
                            font-size: 20px;
                        }
                    }

                    .firstIcon {
                        width: 35px;
                        height: 35px;
                        flex-shrink: 0;
                    }

                    .smallStar_ic {
                        width: 19px;
                        height: 19px;
                        flex-shrink: 0;
                    }

                    p {
                        color: $subDeco_color02;
                        font-size: 16px;
                        font-weight: bold;
                        flex-shrink: 0;
                        margin: 0 15px;
                    }

                    .line {
                        width: 100%;
                        height: 2px;
                        background: $subDeco_color02;
                    }

                    .star_ic {
                        width: 112px;
                        height: 12px;
                        flex-shrink: 0;
                        margin-left: 15px;
                    }
                }

                //helpInfo
                .helpInfo {
                    display: none;
                    width: 100%;
                    height: auto;

                    &.display {
                        display: block;
                    }

                    .moreList {
                        width: 100%;
                        height: auto;

                        .allBtn {
                            width: 262px;
                            height: 45px;
                            @include mainBtn;
                            display: block;
                            margin: 0 auto 20px;
                        }

                        li {
                            width: 100%;
                            height: 64px;
                            @include helpMoreList;
                            margin-bottom: 20px;

                            &:last-child {
                                margin: 0;
                            }

                            &:active,&.active {
                                height: auto;

                                .smallTitle {
                                    border-bottom: solid 1px $helpMoreList_Border;

                                    p {
                                        color: $mainDeco_color;
                                    }

                                    i {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            .smallTitle {
                                width: 100%;
                                height: 64px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 0 24px;
                                user-select: none;
                                cursor: pointer;

                                p {
                                    color: $mainFont_2;
                                    font-size: 20px;
                                    font-weight: bold;
                                }

                                i {
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 8px 6px 0 6px;
                                    border-color: $helpMoreList_Border transparent;
                                    transition: 0.3s all;
                                }
                            }

                            .content {
                                width: 100%;
                                height: auto;
                                padding: 16px 24px;

                                p {
                                    color: $mainFont_4;
                                    font-size: 16px;
                                    font-weight: bold;
                                    line-height: 24px;
                                    margin-bottom: 10px;

                                    &:last-child {
                                        margin: 0;
                                    }

                                    .remind {
                                        color: $remind;
                                    }
                                }
                            }
                        }
                    }

                    .textBox {
                        width: 100%;
                        height: auto;
                        min-height: 600px;
                        @include helpMoreList;
                        padding: 24px;

                        h2 {
                            color: $mainFont_2;
                            font-size: 20px;
                            font-weight: bold;
                            margin: 20px 0;

                            &:first-child {
                                margin-top: 0;
                            }
                        }

                        p {
                            color: $mainFont_4;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 24px;
                            margin-bottom: 10px;

                            &:last-child {
                                margin: 0;
                            }

                            .remind {
                                color: $remind;
                            }
                        }

                        .uploadBox {
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: space-between;
                            margin: 60px 0;
        
                            .box {
                                display: block;
                                width: 48%;
                                height: auto;
        
                                &.full {
                                    width: 100%;
        
                                    .innerBox {
                                        padding: 60px 0;
                                    }
                                }
        
                                .smallTitle {
                                    color: $mainFont_3;
                                    font-size: 14px;
                                    font-weight: bold;
                                    margin-bottom: 10px;
                                }
        
                                .innerBox {
                                    width: 100%;
                                    height: auto;
                                    border-radius: 5px;
                                    border: dashed 3px $help_upload_Border;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 30px 0;
        
                                    i {
                                        width: 52px;
                                        height: 49px;
                                        margin-bottom: 10px;
                                    }
        
                                    button {
                                        width: 257px;
                                        height: 42px;
                                        @include mainBtn;
                                        margin-bottom: 10px;
                                    }
        
                                    .remind {
                                        color: $remind;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
        
                        .btnBox {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 60px;
        
                            &.noMar {
                                margin: 0;
                            }
        
                            button {
                                width: 257px;
                                height: 42px;

                                &.sendBtn {
                                    @include secondBtn;
                                }
        
                                &:last-child {
                                    @include lightBtn_2;
                                    margin-top: 20px;
                                }
                            }
                        }
                    }

                    .imgBox {
                        width: 100%;
                        height: auto;
                        @include helpMoreList;
                        padding: 32px 0;

                        .license {
                            width: 982px;
                            height: 1383px;
                            margin: 0 auto;
                        }

                    }

                    .img {
                        width: 100%;
                        height: 400px;

                        &.inviteImg {
                            height: 466px;
                        }
                        &.KYCImg_1 {
                            height: 742px;
                        }
                        &.KYCImg_2 {
                            height: 743px;
                        }
                        &.depositWay {
                            height: 572px;
                        }
                    }
                }
            }
        }
    }
}