.register {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;

    .box {
        width: auto;
        height: 1025px;
        background: $register_BG;
        border-radius: 10px;
        padding: 45px 60px;
        margin-right: 15px;

        .inputBox {
            width: auto;
            height: auto;
            position: relative;
            margin-bottom: 25px;

            &:nth-last-of-type(3) {
                margin: 0;
            }

            input {
                width: 452px;
                height: 53px;
                @include registerInput;
            }

            em {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -20px;
                color: $register_em;
            }

            .getCode {
                width: auto;
                height: 42px;
                @include mainBtn;
                font-size: 14px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                padding: 0 10px;
            }

            .remind {
                color: $remind;
                font-size: 12px;
                font-weight: bold;
                position: absolute;
                left: 0;
                bottom: -17px;
            }
        }

        .checkBox {
            width: 452px;
            height: 70px;
            display: flex;
            align-items: center;

            input {
                width: 10px;
                height: 10px;
                @include checkBox_2;
                margin-right: 10px;
            }

            p {
                color: $register_Color;
                font-size: 17px;
                font-weight: bold;

                span {
                    color: $remind;
                    cursor: pointer;
                }
            }
        }

        .btnBox {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;

            button {
                width: 160px;
                height: 50px;
                padding-bottom: 2px;

                &:first-child {
                    @include registerBtn_1;
                    margin-right: 10px;
                }

                &:last-child {
                    @include secondBtn;
                    font-size: 20px;
                }
            }
        }
    }

    .infoBox {
        width: 394px;
        height: 1025px;
    }
}

.registerBG {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -999;
}